model {
  faster_rcnn {
    number_of_stages: 3
    num_classes: 1
    image_resizer {
    fixed_shape_resizer {
        height: 1024
        width: 1024
      }
    }
    feature_extractor {
      type: "faster_rcnn_inception_v2"
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        height_stride: 16
        width_stride: 16
        scales: [0.35, 0.25 , 0.45 , 0.6 , 0.1 , 0.01]
        aspect_ratios: [3 , 0.33 ,1 , 2.5, 0.5]
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.0099999998
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.60000002
    first_stage_max_proposals: 150
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 2.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        use_dropout: false
        dropout_keep_probability: 1.0
        conv_hyperparams {
          op: CONV
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            truncated_normal_initializer {
              stddev: 0.0099999998
            }
          }
        }
        predict_instance_masks: true
        mask_prediction_conv_depth: 0
        mask_height: 32
        mask_width: 32
        mask_prediction_num_conv_layers: 2
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.60000002
        max_detections_per_class: 100
        max_total_detections: 100
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
    second_stage_mask_prediction_loss_weight: 4.0
    hard_example_miner {
      num_hard_examples: 3000
      iou_threshold: 0.99000001
      loss_type: BOTH
      max_negatives_per_positive: 3
      min_negatives_per_image: 3
    }
  }
}
train_config {
  batch_size: 1
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_crop_image {
      min_object_covered: 0.0
      min_aspect_ratio: 0.75
      max_aspect_ratio: 3.0
      min_area: 0.75
      max_area: 1.0
      overlap_thresh: 0.0
    }  
  }

  optimizer {
    momentum_optimizer {
      learning_rate {
        cosine_decay_learning_rate {
          learning_rate_base: 0.039999999
          total_steps: 25000
          warmup_learning_rate: 0.013333
          warmup_steps: 500
        }
      }
      momentum_optimizer_value: 0.89999998
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "/home/deploy/sat_training/Agri/maskrcnn/training_data/mask_rcnn_inception_v2_coco_2018_01_28/model.ckpt"
  num_steps: 25000
  fine_tune_checkpoint_type: "detection"
}
train_input_reader {
  label_map_path: "/home/deploy/sat_training/Agri/maskrcnn/training_data/labelmap.pbtxt"
  load_instance_masks: true
  tf_record_input_reader {
    input_path: "/home/deploy/sat_training/Agri/maskrcnn/training_data/dataset_for_model/coco_train.record"
  }
  mask_type: PNG_MASKS
}
eval_config {
  num_visualizations: 10
  num_examples: 100
  eval_interval_secs: 1500
  max_evals: 40
  use_moving_averages: false
}
eval_input_reader {
  label_map_path: "/home/deploy/sat_training/Agri/maskrcnn/training_data/labelmap.pbtxt"
  shuffle: false
  num_readers: 1
  load_instance_masks: true
  tf_record_input_reader {
    input_path: "/home/deploy/sat_training/Agri/maskrcnn/training_data/dataset_for_model/coco_val.record"
  }
  mask_type: PNG_MASKS
}

